h1 {
    text-align: center;
    font-display: auto;
}

h2 {
    text-align: center;
    font-display: auto;
}

.hero {
    background-image: url("bckg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 400px;
}