.img-logo{
    width: 30px;
    height: 30px;
}
header.h3{
    padding: 10px;
}
#weather {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 30px;
    transition: background-image 0.5s ease;
}

.current-weather {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);
}